*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left, #3366ff  0%, #9900ff 100%);

}
.exam{
    width: 600px;
    height: 500px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
}
.time{
    display: inline-block;
    background-color: #003c7a;
    width: 550px;
    margin: 20px 0 0 25px;
    padding: 10px;
    border-radius: 5px;
}
.time p{
    color: white;
    font-weight: bold;
    font-size: 1.2em;
text-align: center;
}
.result{
    color: #003c7a;
    font-weight: bold;
    padding: 10px 0 0 25px;
    font-size: 1.2em;
    margin-top: 20px;
}
.parags{
    padding: 0px 0 0 25px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.answer{
    background-color: red;
}
.btn1{
    display: block;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    color: white;
    border-radius: 5px;
    background-color: #003c7a;
    border:none;
}
.btn2{
    display: block;
    width: 180px;
    margin: auto;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #003c7a;
    border:none;
    color: white;
}

